<h1>Editing game play</h1>

<%= render "form", game_play: @game_play %>

<br>

<div>
  <%= link_to "Show this game play", @game_play %> |
  <%= link_to "Back to game plays", game_plays_path %>
</div>
