<div id="<%= dom_id game_part %>">
  <p>
    <strong>Name:</strong>
    <%= game_part.name %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= game_part.game_id %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= game_part.game_id %>
  </p>
</div>
