<h1>Editing game rule</h1>

<%= render "form", game_rule: @game_rule %>

<br>

<div>
  <%= link_to "Show this game rule", @game_rule %> |
  <%= link_to "Back to game rules", game_rules_path %>
</div>
